work/
Digital_Project1_DSPChip.cr.mti
Digital_Project1_DSPChip.mpf
vsim.wlf
Digital_Project1_DSPChip.mpf_new
__pycache__/
.qverify/
.tmp/
.visualizer/
qcache/
Digital_Project1.prj
ideErrorInfo.log
lint_run.log
lint_run.log
lint_settings.rpt
lint_status_history.rpt
lint.db
lint.rpt
modelsim.ini
Constraints_basys3.xdc
Digital_Project1/